{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Sunny Jobs</h1>
        <p>Continuous jobs update every hour</p>
        <a href="hydjobs/" class="btn btn-primary btn-lg">Hyderabad Jobs</a>&emsp;
        <a href="bngjobs/" class="btn btn-primary btn-lg">Bangalore Jobs</a>&emsp;
        <a href="punejobs/" class="btn btn-primary btn-lg">Pune Jobs</a>&emsp;
        <a href="bbsrjobs/" class="btn btn-primary btn-lg">Bhubaneswar Jobs</a>
    </div>
</div>
{% endblock %}